VITE_FIREBASE_API_KEY=AIzaSyDcg75Gib9-8Fx1P0uHsJyU_TSfDRUGWck
VITE_FIREBASE_AUTH_DOMAIN=escaladasa-754c9.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=escaladasa-754c9
VITE_FIREBASE_STORAGE_BUCKET=escaladasa-754c9.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=286120669776
VITE_FIREBASE_APP_ID=1:286120669776:web:0c5874347a7c245fb91755
